#loginSignup_Page {
    padding: 10%;
    color: rgba(53, 53, 53, 1);
}

#loginSignup_Page > #left_side_loginSignup_Page > #slide > span {
    color: white;
}

#loginSignup_Page > #left_side_loginSignup_Page > #slide > span:hover {
    color: #ff9c00;
    transition: none;
}

#loginSignup_Page button {
    outline: none;
    color: white;
    background-color: rgba(53, 53, 53, 0.85);
}

#loginSignup_Page button:hover,
#loginSignup_Page button:active {
    background-color: #ff9c00;
}

#loginSignup_Page input {
    outline: none;
    height: 40px;
    padding: 0.85em;
    border: 1px solid rgba(53, 53, 53, 0.7);
}

#loginSignup_Page input:focus,
#loginSignup_Page :valid:focus {
    border: none;
    outline: 2px solid #ff9c00;
    transition: none;
}

#left_side_loginSignup_Page {
    background: url('./img/login_signup_page_slide1.jpg') no-repeat;
    background-size: cover;
}

@media screen and (max-width: 800px) {
    #left_side_loginSignup_Page {
        display: none;
    }
}
